.app-header {
  margin-block-end:1rem ;
    .app-logo{
        margin: 1rem;
        margin-right: 4rem;
    }
  .app-navigation {
    width: 100%;
    justify-content: flex-end;
    & > *:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
  
}
