.email-filter{
    position: absolute;
    top: -66px;
    max-width: 600px;
    width: 100%;
    background-color: #eef3fc;
    border-radius: rem(8px);
    .filter-input{
        border: 1px solid transparent;
        padding: rem(15px);
        padding-inline-start: 2rem;
        background-color: transparent;
        transition: 0.4s all;
        font-size: 1rem;
        min-width: 150px;
        width: 100%;
        border-radius: rem(8px);
        &:focus{
            outline: none;
            background-color: white;
            border: 1px solid gray;
        }
        &:active{
            background-color: white; 
        }
    }
}